@use "variables";

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 270px;
  height: 92%; // controls how far down the footer goes
  position: fixed;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  padding: 50px;
  font:
    16px/1.5 "Noto Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  color: #222;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 30px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 30px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

a {
  color: #267cb9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: salmon;
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: black;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

strong {
  color: #222;
  font-weight: 700;
}

section {
  width: 600px;
  float: right;
  padding-bottom: 100px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

#spacer {
  flex: 1;
}

pre {
  padding: 15px 15px;
  // background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
