<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info" />
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="base" content="{{ config.base_url | safe }}" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta
      name="description"
      itemprop="about"
      content="{{config.description}}"
    />
    <link rel="stylesheet" href="{{ get_url(path='styles.css') | safe }}" />
    <!-- <script defer type="module" src="{{ get_url(path='tinysearch_engine.js'   , trailing_slash=false, cachebust=true) | safe }}"{%- if integrity %} integrity="sha384-{{ get_hash(path='tinysearch_engine.js'   , sha_type=384, base64=true) | safe }}"{%- endif %}></script> -->
    <script defer type="module" src="{{ get_url(path='js/tinysearch.js'   , trailing_slash=false, cachebust=true) | safe }}"{%- if integrity %} integrity="sha384-{{ get_hash(path='js/tinysearch.js'   , sha_type=384, base64=true) | safe }}"{%- endif %}></script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="{{ get_url(path='/') | safe }}">
          <img
            src="{{ get_url(path='img/logo.png') | safe }}"
            class="site-logo"
            alt="Logo"
            width="275px"
            height="auto"
          />
        </a>

        <p>{{ config.description }}</p>

        <p class="view"
          ><a href="https://github.com/jakob-schuster/matchbox"
            >View the project on GitHub.
            <small>jakob-schuster/matchbox</small></a
          ></p
        >

        <!-- <div>
          {%- if config.build_search_index %}
          {%- set icon_search=config.extra.icon_search | default(value="svgs svgm search") %}
          <div>
            <form autocomplete=off class="js" name="goSearch" id="searchbox">
              <div class="searchd">
                <input id="searchinput" type="text" placeholder="Search" title="Search" />
                <button type="submit" title="Search" class="{%- if icon_search -%}{{ icon_search }}{%- else -%}si{%- endif -%}">{%- if not icon_search -%}&#8981;{%- endif -%}</button>
              </div>
              <div class="results"><div id="suggestions"></div></div>
            </form>
          </div>
          {%- endif %}
        </div> -->


        <h2>Navigation</h2>
        <nav role="navigation">
          <ul>
            <li><a href="{{ get_url(path='/') | safe }}">Quick start</a></li>
              {% block menu %}
                  {% set index = get_section(path="_index.md") %}
                  {% for s in index.subsections %}
                      {% set subsection = get_section(path=s) %}
                      <li {% if current_path == subsection.path %}class="active"{% endif %}>
                          {% set chapter_num = loop.index %}
                          <a href="{{ subsection.permalink | safe }}">
                              {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                              {{ subsection.title }}
                          </a>
                          {% if subsection.pages %}
                              <ul>
                                  {% for page in subsection.pages %}
                                      <li {% if current_path == page.path %}class="active"{% endif %}>
                                          <a href="{{ page.permalink | safe }}">
                                              {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                              {{ page.title }}
                                          </a>
                                      </li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                      </li>
                  {% endfor %}
              {% endblock menu %}
          </ul>
      </nav>
        <!-- <ul class="downloads">
          <li
            ><a href="./">Download <strong>ZIP File</strong></a></li
          >
          <li
            ><a href="./">Download <strong>TAR Ball</strong></a></li
          >
          <li
            ><a href="./">View On <strong>GitHub</strong></a></li
          >
        </ul> -->
        
      </header>

      <section> {% block content %} {% endblock content %} </section>

      <footer>
        <p>
          <small>
            Powered by <a href="https//www.getzola.org/">Zola</a> &mdash; Themed
            with
            <a href="https://github.com/semanticdata/zola-minimal/">Minimal</a
            >.<br />
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
